.main-block {
  &__order-book {
    background-color: #fff;
    padding: 10px;
    border-radius: 16px;
    margin: 0 10px 10px 0;
    .order-book-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .choose-tokens {
      text-align: center;
    }
  }
}